// 覆盖全局样式
// 修改输入框的全局样式

.el-form {
  .el-form-item {
    .el-form-item__content {
      .el-select {
        width: 100%;
      }
      .el-input {
        width: 220px;
        .el-input__inner {
          border-radius: 0;
          height: 30px;
        }
      }
    }
  }
}
.el-button {
  padding: 0 15px;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.el-tooltip__popper{font-size: 14px; max-width:50% } /*设置显示隐藏部分内容，按50%显示*/